.vertical_filter {
  border: 1px solid #ddd;
  border-radius: 1rem;
  margin: 1rem 0;
  .all_filters {
    padding: 1rem;
    color: #666;
    .filters_option {
      div {
        border: 1px solid #ddd;
        border-radius: 1rem;
        width: fit-content;
        padding: .3rem 0.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1rem 0;
        .delet_btn {
          border: 1px solid #ddd;
          border-radius: 50%;
          padding: 0 5px;
          margin-left: 5px;
          font-size: .75rem;
          color: gray;
          cursor: pointer;
        }
        .delet_btn:hover {
          background-color: #eee;
        }
      }
      button.filters_clear_all_btn {
        background-color: rgba(46, 204, 113, 0.1);
        border: 1px solid #27ae60;
        color: #27ae60;
        padding: 0.2rem 1rem;
        border-radius: 1rem;
      }
      button.filters_clear_all_btn:hover {
        background-color: rgba(46, 204, 113, 0.2);
      }
    }
  }
  .vertical_filter_category {
    padding: 1rem;
    color: #666;
    border-top: 2px dashed #666;
    .category_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .category_list {
      list-style: none;
      p {
        margin-top: .5rem;
        margin-bottom: 0;
      }
      ul {
        list-style: none;
        margin-left: 2rem;
        padding: 0.5rem 0;
      }
    }
  }
  .vertical_filter_size {
    padding: 1rem;
    color: #666;
    border-top: 2px dashed #666;
    .size_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .size_list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;
      div {
        border: 2px solid #ddd;
        padding: 5px;
        min-width: 2.25rem;
        text-align: center;
        font-weight: 600;
        cursor: pointer;
      }
      div:hover {
        background-color: #ddd;
      }
    }
  }
  .vertical_filter_color {
    padding: 1rem;
    color: #666;
    border-top: 2px dashed #666;
    .color_list {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;
      .color_box {
        height: 2.25rem;
        width: 2.25rem;
        border: 2px solid #ddd;
        padding: .25rem;
        div {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
  .vertical_filter_discount {
    padding: 1rem;
    color: #666;
    border-top: 2px dashed #666;
    .discount_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .discount_form {
      margin-top: 1rem;
      overflow: auto;
      .discount_radio {
        input[type=radio] {
          margin-right: 0.5rem;
        }
      }
    }
  }
  .vertical_filter_price {
    padding: 1rem;
    color: #666;
    border-top: 2px dashed #666;
    .filter_price {
      display: flex;
      align-items: center;
      margin-top: 1rem;
      div {
        border: 1px solid #ddd;
        border-radius: .5rem;
        padding: .2rem;
        width: 80px;
        margin: 0 .2rem;
      }
      span {
        display: block;
        margin-left: auto;
        color: #fff;
        background-color: #27ae60;
        height: 2.25em;
        width: 2.25em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 50% 50% 50%;
      }
    }
  } 
  .vertical_filter_rating {
    padding: 1rem;
    color: #666;
    border-top: 2px dashed #666;
    .rating_list {
      margin-top: 1rem;
    }
  }
  .vertical_filter_item {
    padding: 1rem;
    color: #666;
    border-top: 2px dashed #666;
    .filter_item_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .search_bar {
      border: 1px solid #ddd;
      margin: .5rem 0;
      input {
        border: 0;
        outline: 0;
        width: 100%;
        padding: 0.2rem 0.5rem;
      }
      img {
        object-fit: contain;
        margin-right: .5rem;
      }
    }
    .filter_item_form {
      margin-top: .5rem;
      max-height: 220px;
      overflow: auto;
      .filter_item_radio {
        input[type=radio] {
          margin-right: 0.5rem;
          color: #27ae60;
        }
      }
    }
    .filter_item_form::-webkit-scrollbar {
      width: 0.5rem;
    }
    .filter_item_form::-webkit-scrollbar-track {
      background-color: #eee;
      border-radius: .5rem;
    }
    .filter_item_form::-webkit-scrollbar-thumb {
      background-color: #27ae60;
      border-radius: .5rem;
    }
    .see_more {
      margin-top: 1rem;
      border: none;
      outline: none;
      background: none;
      font-weight: 600;
      color: #27ae60;
    }
  }
}