.navbar {
  padding: 1rem 0 !important;
  border-bottom: 2px solid #eee;
}
.nav {
  float: left;
  list-style-type: none;
  li a { 
    text-decoration: none;
    font-weight: 600;
    margin-right: 2rem;
    color: rgb(155, 155, 155);
  }
  li a:hover, li a:focus, li a.active {
    color: #222;
  }
}
