.blog {
  margin: 2rem 0;
  position: relative;
  z-index: 10 !important;
  h3 {
    text-align: center;
  }
  strong {
    text-align: center;
    display: block;
  }
  .blog_container {
    display: flex;
    justify-content: center;
    min-height: 20rem;
    position: inherit;
  }
  .circle_1 {
    position: absolute;
    background-color: #27ae60;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    top: 20%;
    left: 10%;
    z-index: 1 !important;
  }
  .circle_2 {
    position: absolute;
    background-color: #27ae60;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    bottom: 5%;
    right: 10%;
    z-index: 1 !important;
    box-shadow: 1px 0px 5px #1f9751;
  }
}
.react-multi-carousel-dot--active button {
  background-color: #27ae60 !important;
}
.react-multi-carousel-dot button {
  background-color: #ddd;
  border: none !important;
}
.react-multi-carousel-dot-list {
  bottom: 0 !important;
}
.react-multiple-carousel__arrow {
  background-color: #27ae60 !important;
  min-height: 2.25rem !important;
  min-width: 2.25rem !important;
  
}
.react-multiple-carousel__arrow--left {
  border-radius: 50% 5px 5px 50% !important;
  left: 0rem !important;
  padding: 0px !important;
}
.react-multiple-carousel__arrow--right {
  border-radius: 5px 50% 50% 5px !important;
  right: 0rem !important;
}

